.facts{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding: 20px;
    gap: 20px;
}
.facts h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    color: #4f4d4d;
}
.factList{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    list-style: none;
}
.factList li{
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #333;
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.delBtn{
    position: absolute;
    top: 25%;
    right: -15%;
    color: #1976d2;
    background-color: #fff;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}